.user-list-area {
  width: 980px;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 0px;
}

.user-list-item {
  width: 225px;
  margin: 10px;
  position: relative;
  padding-top: 5px;
  border-bottom: solid 1px gainsboro;
  padding-bottom: 5px;
}

.user-list-item img {
  display: block;
  width: 160px;
  height: 160px;
  margin: 5px auto;
  border-radius: 50%;
}

.user-list-item p {
  white-space: pre-wrap; /* 改行やスペースをそのまま表示 */
  width: 80%;
  margin: 5px auto;
}

.user-list-item h4 {
  text-align: center;
}

.user-list-item button {
  display: block;
  width: 160px;
  background-color: #4f46e5;
  border: none;
  padding: 10px;
  color: white;
  position: absolute;
  bottom: 3px;
  left: 50%; /* 横方向の中央基準 */
  transform: translateX(-50%);
}

/* ===== タブレット (768〜1023px) ===== */
@media (min-width: 768px) and (max-width: 1023px) {
  .user-list-area {
    width: 690px;
  }
  .user-list-item {
    width: 210px;
  }

  .user-list-item img {
    width: 150px;
    height: 150px;
  }

  .user-list-item button {
    width: 150px;
  }
}

/* ===== スマホ (〜767px) ===== */
@media (max-width: 767px) {
  .user-list-area {
    width: 300px;
  }

  .user-list-item {
    width: 130px;
  }

  .user-list-item p {
    width: 100%;
  }

  .user-list-item img {
    width: 100px;
    height: 100px;
  }

  .user-list-item button {
    width: 100px;
  }
}
